.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
h1{
    text-align: center;
    letter-spacing: 2px;
}
input[type='text']{
    width: 200px;
    height: 20px;
}
input[type='submit']{
    display: block;
    margin: 25px auto;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
}